<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiedaibao.demo.dao.mappers.JyxdRepayMapper">

	<resultMap type="com.jiedaibao.demo.dao.bean.JyxdRepay"
		id="JyxdRepayResult">
		<result column="id" property="id" />
		<result column="repay_platform_id" property="repayPlatformId" />
		<result column="repay_sys_id" property="repaySysId" />
		<result column="product_id" property="productId" />
		<result column="contract_id" property="contractId" />
		<result column="cust_no" property="custNo" />
		<result column="user_name" property="userName" />
		<result column="id_type" property="idType" />
		<result column="id_no" property="idNo" />
		<result column="repay_time" property="repayTime" />
		<result column="repay_amt" property="repayAmt" />
		<result column="capital_amt" property="capitalAmt" />
		<result column="interest_amt" property="interestAmt" />
		<result column="amerce_amt" property="amerceAmt" />
		<result column="status" property="status" />
		<result column="code" property="code" />
		<result column="msg" property="msg" />
		<result column="biz_date" property="bizDate" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	
	<sql id="baseColumns">
		id,repay_platform_id,product_id,contract_id,cust_no,user_name,id_type,id_no,repay_time,repay_amt,capital_amt,interest_amt,amerce_amt,status,code,msg,biz_date,create_time,update_time
	</sql>

	<select id="getById" parameterType="String" resultMap="JyxdRepayResult">
		select
		<include refid="baseColumns" />
		from t_jyxd_repay where id=#{id}
	</select>

</mapper>